<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    {{>header}}
    <div id="contact" class="contact-section">
        <h2>Contact</h2>
        <p>Email: contact@example.com</p>
        <p>Phone: 123-456-7890</p>
        <p>Address: 123 Main Street, City</p>
    </div>

    <div id="about" class="about-section">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt risus at semper dignissim.
            Vestibulum
            ultrices consequat leo a convallis.</p>
    </div>

    <div class="body-section animation">
        <h2>Welcome to My Website</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt risus at semper dignissim.
            Vestibulum
            ultrices consequat leo a convallis.</p>
    </div>
</body>

</html>